.Input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.Input:invalid[focused="true"] {
  border: 1px solid red;
}

.Input:invalid[focused="true"] ~ span {
  display: block;
}

span {
  font-size: 12px;
  color: red;
  display: none;
}
