* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

.HomeSectionMain {
  z-index: 3;
  max-width: 1200px;
  position: relative;
  /* padding: 8px 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10rem;
}

.HomeSectionMain h1 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  animation-name: fade;
  animation-duration: 800ms;

  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 768px) {
  .HomeSectionMain h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 480px) {
  .HomeSectionMain h1 {
    font-size: 32px;
  }
}

.HomeSectionMain p {
  margin-top: 24px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  font-family: "Ubuntu", sans-serif;
  animation-name: fade;
  animation-duration: 800ms;

  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 768px) {
  .HomeSectionMain p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .HomeSectionMain p {
    font-size: 18px;
  }
}

/* .HomeSectionImg {
  z-index: 3;
  max-width: 1200px;
  width: 50%;
  position: relative;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeSectionImg img {
  width: 350px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */
